*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.body{
    
    background-image: url(images/background.avif);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    padding: 0.7%;
    color: #fff;
}

nav{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

.logo{
    width: 125px;
    cursor: pointer;
}

nav ul{
    flex: 1;
}

nav ul li{
    display: inline-block;
    margin: 50px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}

.body1{
    margin-top: 6%;
}

.body1 h1{
    font-size: 70px;
    margin-bottom: 15px;
}

.body1 h1 span{
    color: orangered;
}

.body1 p{
    line-height: 12px;
    font-size: 20px;
    font-style: initial;
    color:yellow;
}

.body1 .btn{
    display: inline-block;
    margin-top: 30px;
    background-color: brown;
    color: #fff;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 35px;
}



.coin{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 0 15px;
    color: orangered;
    border: 1px solid #fff;
    padding: 25px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.coin img{
    width: 100px;
    margin-right: 50px;
    align-items: center;
}

.coin h3{
    color: #fff;
    margin-bottom: 10px;
}

.b1{

    display: inline-block;
    margin-top: 05px;
    background-color: rgb(42, 136, 165);
    color: #fff;
    text-decoration: none;
    padding: 15px 580px;
    border-radius: 35px;
}